<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>inserator</display-name>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>WEB-INF</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html; charset=UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
  
  <!-- Ab hier copy and paste -->
  <servlet>
    <servlet-name>hello_servlet</servlet-name>
    <servlet-class>de.unidue.inf.is.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello_servlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>inserator_servlet</servlet-name>
    <servlet-class>de.unidue.inf.is.InseratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inserator_servlet</servlet-name>
    <url-pattern>/inserator</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>anzeige_servlet</servlet-name>
    <servlet-class>de.unidue.inf.is.AnzeigeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anzeige_servlet</servlet-name>
    <url-pattern>/hauptseite</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>erstellen_servlet</servlet-name>
    <servlet-class>de.unidue.inf.is.ErstellenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>erstellen_servlet</servlet-name>
    <url-pattern>/anzeige_erstellen</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>details_servlet</servlet-name>
    <servlet-class>de.unidue.inf.is.DetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details_servlet</servlet-name>
    <url-pattern>/anzeige_details</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>editieren_servlet</servlet-name>
    <servlet-class>de.unidue.inf.is.EditierenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editieren_servlet</servlet-name>
    <url-pattern>/anzeige_editieren</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>profil_servlet</servlet-name>
    <servlet-class>de.unidue.inf.is.ProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profil_servlet</servlet-name>
    <url-pattern>/user_profil</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>nachricht_servlet</servlet-name>
    <servlet-class>de.unidue.inf.is.NachrichtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nachricht_servlet</servlet-name>
    <url-pattern>/privatnachrichten</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>user_servlet</servlet-name>
    <servlet-class>de.unidue.inf.is.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_servlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  
  <!-- ******************************************************** -->
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>FreeMarker MVC Views</web-resource-name>
      <url-pattern>*.ftl</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
</web-app>